body{
background-color:white;

}


#header{
padding:8px;
background-color:orange;
border-radius:5px;
color:red;
margin:10px;
text-align:left;
font-size:130%;
}





/*#header h4{
font-family:Coolvetica,Alternate Gothic,Times New Roman,HTF Didot;
font-size:100%;
color:orange;
}*/



#navbar ul{
padding:5px;
list-style-type:none;
border-radius:10px;
background-color:orange;
margin:10px;
text-align:right;
}

#navbar ul li{
display:inline;
}

#navbar ul li a{
text-decoration:none;
font-family:georgia,Coolvetica,Lucida Console,karla;
background:linear-gradient(to left,white  ,white);
border-radius:5px;
padding:1px;
margin:10px;
color:black;
}
#navbar ul li a:hover{
background:linear-gradient(to left,orange,white);
}

#navbar h3 {
display:inline;
}


#main{
margin-left:10px;
background-image:url(sss2.jpg);
border-radius:10px;
width:1315px;
height:550px;
}

#main h3{
color:white;
font-family:Coolvetica,Alternate Gothic,Alegreya,Times New Roman,HTF Didot;
color:orange;
padding-top:10px;
padding-left:15px;
margin-top:10px;
margin-left:100px;
font-size:75px;
}






#main ul li a{
background:linear-gradient(to left,orange,orange);
color:black;
padding-left:50px;
padding-top:10px;
padding-bottom:10px;
padding-right:50px;
border-radius:10px;
text-decoration:none;
margin:10px;
}

#main ul{
margin-left:5px;
margin-top:300px;
list-style-type:none;
}


#main ul li a:hover{
background:linear-gradient(to left,orange,white);
}
